body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu';
	font-weight: 700;
}

p {
	line-height: 1.66em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	color: white;
	background: rgba(78,189,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	padding-bottom: 93px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 140px;
	width: 548px;
}

.title {
	font-size: 37px;
}

.title span {
	font-size: 59px;
}

.intro {
	margin-bottom: 43px;
	margin-top: 43px;
	width: 390px;
}

.btn {
	font-family: Montserrat, sans-serif;
	background: #FFD429;
	color: black;
	display: block;
	width: 222px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #ffba00;
}
.desktop {
	margin-top: 5px;
	margin-right: -40px;
}

.expectations{
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.advantages {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	text-align: center;
}


.advantage {
	width: 283px;
	padding-top: 90px;
	font-family: 'Ubuntu';
	font-weight: 400;
}

.advantage-tittle {
	font-size: 19px;
}

.advantage-text {
 	font-size: 15px;
}

.advantage-time {
	background: url('../img/ic1.png')  no-repeat center top;
	margin-right: 131px;
}

.advantage-travel {
	background: url('../img/ic2.png')  no-repeat center top;
	margin-right: 124px;
}

.advantage-values {	
	background: url('../img/ic3.png')  no-repeat center top;
	width: 293px;
}

.request {
	background: #ECF3F8;
	padding-top: 100px;
	padding-bottom: 100px;
}

.form {
	margin-top: 70px;
}

.form input {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

.input {
	padding-left: 30px;
	font-family: 'Ubuntu', sans-serif;
	width: 340px;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	height: 56px;
	font-size: 14px;
	margin-top: 16px;
}

.btn-form {
	width: 340px;
 	border: 0;
 	font-size: 15px;
 	margin-top: 16px;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	border-radius: 3px;
 	cursor: pointer;
}

.footer {
	padding: 58px;
	background: #164d7a;
}

.credits {
	font-size: 14px;
	color: #fff;
	margin: 0;
	text-align:center;
}	



/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	
	.container {
		width: 720px;
	}
	
	.wrapper {
		flex-direction: column;
	}
	
	.offer {
		width: 100%;
	}

	.intro {
		width: auto;
	}
	
	.desktop {
		display: block;
    		margin: 25px auto 0;
    		width: 641px;
	}
     
	br {
  		display: none;
	}

	.advantage {
		margin-right: 35px;
	}	
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.desktop {
		width: 100%
	}
	.advantages {
		flex-direction: column;
	}
	.advantage {
		width: auto;
		margin-bottom: 30px;
		margin-right: 0;
	}

	.expectations {
		padding-bottom: 65px
	}

	.offer {
		margin-top: 100px;
	}

	.header {
		padding-bottom: 65px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	.input {
		width: 100%;
	}

	.btn {
		width: 100%;
	}
}
